HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/testController/**/target/

javascript:void(0)javascript:void(0)javascript:void(0) STS javascript:void(0)javascript:void(0)javascript:void(0)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

javascript:void(0)javascript:void(0)javascript:void(0) IntelliJ IDEA javascript:void(0)javascript:void(0)javascript:void(0)
.idea
*.iws
*.iml
*.ipr

javascript:void(0)javascript:void(0)javascript:void(0) NetBeans javascript:void(0)javascript:void(0)javascript:void(0)
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/testController/**/build/

javascript:void(0)javascript:void(0)javascript:void(0) VS Code javascript:void(0)javascript:void(0)javascript:void(0)
.vscode/

# Project exclude paths
/src/main/resources/static/vip/
/src/main/resources/static/vip/css/